<%- include("partials/header.ejs") %>
<body class="b">
    <div class="px-4 py-5 my-5 text-center postsjumbotron">
        <svg xmlns="http://www.w3.org/2000/svg" width="57" height="57" fill="rgb(255, 16, 84)" class="bi bi-chat-square-heart-fill" viewBox="0 0 16 16">
            <path d="M2 0a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h2.5a1 1 0 0 1 .8.4l1.9 2.533a1 1 0 0 0 1.6 0l1.9-2.533a1 1 0 0 1 .8-.4H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6 3.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132"/>
          </svg>        
          <h1 class="display-5 fw-bold text-body-emphasis">Ingy Omar</h1>
        <div class="col-lg-6 mx-auto">
          <div class="d-grid gap-4 d-sm-flex justify-content-sm-center m-5">
            <button type="button" class="btn btn-danger btn-lg px-4 gap-3"><a>Linkdin</a></button>
            <button type="button" class="btn btn-outline-danger btn-lg px-4"><a href="https://github.com/ingyomar6" id="github">Github</a></button>
          </div>
        </div>
      </div>
</body>