<%- include("partials/header.ejs") %>
<body class="body">
    <!-- Write your code here -->
    <div class="postSection">
            <div class="inputBoxes">
                <h2 class="postTitle"><%= post.title %></h2>
                <textarea readonly class="postData mb-3"><%= post.content %></textarea>
            </div>
        </form>
    </div>
  </body>